# ----------------
# Django / Python
# ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
venv/
myvenv/

# ----------------
# React / Node
# ----------------
node_modules/
dist/
build/
.vite/

# ----------------
# OS / Editor
# ----------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------
# Logs
# ----------------
*.log

